.bar {
  background-color: #fbf7e3;
  display: flex;
  justify-content: space-around;
  padding: 2rem;
  border-radius: 96px;
  align-items: center;
}
img {
  width: 4rem;
}

.button1,
.button2,
.button4,
.button5 {
  width: 25px;
  height: 4rem;
  flex-grow: 1;
  max-width: 150px;
  justify-content: center;
}

.bar div {
  background-color: #f3df85;
  border-radius: 96px;
  align-items: center;
  display: flex;
  font-family: "Outfit", sans-serif;
}

.button3 {
  flex-grow: 4;
  max-width: 200px;
  justify-content: center;
  gap: 4rem;
  padding: 1rem;
  font-size: 30px;
  font-weight: bold;
}
